.table {
    tr {
        &.media {
            display: table-row;
        }

        th {
            &:nth-child(2), &:nth-child(3) {
                display: none;

                @media (min-width: 768px) {
                    display: table-cell;
                }
            }
        }

        td {
            &.staff-name, &.college {
                width: 200px;
            }

            &:nth-child(2), &:nth-child(3) {
                display: none;

                @media (min-width: 768px) {
                    display: table-cell;
                }
            }
        }
    }
}